<app-navbar></app-navbar>
<hr>
<div class="container">
    <h1 class="text-center">Buscar por nombre</h1>
    <app-buscador class="m-4"></app-buscador>

    <div class="conatiner">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">id</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Especie</th>
                    <th scope="col">Planeta</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of busqueda">
                    <th scope="row">{{item.id}}</th>
                    <td>{{item.name}}</td>
                    <td>{{item.species}}</td>
                    <td>{{item.location.name}}</td>
                </tr>

            </tbody>
        </table>
    </div>
</div>